.header {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 20px;
    position: fixed;
    overflow-y:scroll;
  overflow-x:hidden;
    text-align: center;
    top: 0;
    line-height: 50px;
}

.navigation {
    width: 260px;
    margin: auto;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: 0;
    align-self: center;
    padding-left: 30px;
    padding-right: 20px;
}

.navtop {
  display: flex;
    justify-content: space-evenly;
    width: auto;
}

a.class1 {
font-size: 20px;
  font-family: "Founders Grotesk";
    color: #15402A;
}
a.class1:link, a.class1:visited {
  font-size: 20px;
  font-family: "Founders Grotesk";
    color: #15402A;
}
a.class1:hover {
    color:#ffffff;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #15402A;
}

.introtext {
 color: #FF0000;
    font-family: "Editorial New";
    font-size: 59px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 76px;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.covpic {
    margin: 0 auto;
    padding: 50px;
    width: 500px;
}


.backlink {
  height: 20px;
  width: 150px;
  color: #FF0000;
  font-family: "Founders Grotesk";
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
  margin: 0 auto;
  padding: 50px;
}
